<div class="home-container">
  <app-card
    gameCover="../../../assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  >
  </app-card>
  
  <app-card
    gameCover="../../../assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 269,99"
  >
  </app-card>
  <app-card
  gameCover="../../../assets/ac-cover.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DIGITAL | PS5"
  gamePrice="R$ 369,99"
>
</app-card>
<app-card
  gameCover="../../../assets/bt-hardline.jpg"
  gameLabel="NEW"
  gameType="DISC | PS3 PS4 PS5"
  gamePrice="R$ 369,99"
>
</app-card>
<app-card
  gameCover="../../../assets/hl.jpg"
  gameLabel="STANDARD"
  gameType="DISC | PS5"
  gamePrice="R$ 239,99"
>
</app-card>
<app-card
  gameCover="../../../assets/cd.jpg"
  gameLabel="NEW"
  gameType="DISC | PS4 PS5"
  gamePrice="R$ 189,99"
>
</app-card>
<app-card
  gameCover="../../../assets/f2023.jpg"
  gameLabel="STANDARD"
  gameType="DISC  PS5"
  gamePrice="R$ 339,99"
>
</app-card>
<app-card
  gameCover="../../../assets/gta.jpg"
  gameLabel="DIGITAL"
  gameType="DISC  PS5"
  gamePrice="R$ 109,99"
>
</app-card>
</div>
